.slider {
  position: relative;
  margin-top: 140px;
  margin-bottom: 50px;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.slider .slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.slider .slider-item.active {
  opacity: 1;
}

.slider .slider-item img {
  width: 100%;
  height: 100%;
}

.slider .slider-item .text-container {
  position: absolute;
  bottom: 60px;
  left: 200px;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider .slider-item.active .text-container {
  opacity: 1;
}

.slider .slider-item .text-container h2 {
  margin-bottom: 10px;
}

.slider .slider-item .text-container button {
  padding: 10px 20px; 
  width: 150px; 
  height: 40px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}


.slider .slider-item.active .text-container button {
  opacity: 1;
}
