.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 10%;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-size: 50px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 70px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 60px;
    border-radius: 70px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    height: 100%; /* Adjusted for responsiveness */
    max-width: 100%;
    width: auto;
    object-fit: contain;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .hero-left {
        padding-left: 5%;
    }
}

@media screen and (max-width: 576px) {
    .hero-left h2 {
        font-size: 20px;
    }

    .hero-left p {
        font-size: 40px;
    }

    .hero-latest-btn {
        min-width: 180px;
        font-size: 18px;
    }
}




.hero-right img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .hero-right img.active {
    opacity: 1;
  }
  
  .hero-right img.previous {
    opacity: 0;
  }
  